[DXR]
enabled_plugins     = pygmentize clang
temp_folder         = /tmp/roadrunner-dxr-tmp
target_folder       = /home/poltergeist/devel/install/roadrunner-dxr3
nb_jobs             = 4

[roadrunner]
source_folder       = /home/poltergeist/devel/src/roadrunner/source
object_folder       = /home/poltergeist/devel/build/roadrunner-dxr3
build_command       = echo "pwd is " `pwd`; cmake -DCMAKE_INSTALL_PREFIX=~/devel/install/roadrunner -DTHIRD_PARTY_INSTALL_FOLDER=~/devel/install/roadrunner-tp -DLLVM_CONFIG_EXECUTABLE=/home/poltergeist/devel/install/llvm-3.5/bin/llvm-config -DCMAKE_BUILD_TYPE=Debug -DBUILD_PYTHON=OFF -DBUILD_TESTS=ON -DBUILD_TEST_TOOLS=ON ~/devel/src/roadrunner && make -j $jobs
